.flex-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-image: url(./assets/img/one.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.content-container {
  display: flex;
  flex-direction: column; /* Cambiado de row a column */
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.heading {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: 0; 
  text-align: center;
}

.tagline {
  color: #2196F3;
  display: block;
  font-weight: bold;
  margin-top: 0.5rem;
  font-size: 4rem;
  margin-right: 0; 
  text-align: center;
}

.description {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin-right: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin-left: 15%;
}

.logo {
  width: 550px;
  height: auto;
}

.fixed-button {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  z-index: 20;
  animation: float 2s infinite ease-in-out;
}

.whatsapp-button {
  background-color: #4CAF50;
  color: #fff;
  border-radius: 50%;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.whatsapp-icon {
  width: 2.5rem;
  height: 2.5rem;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }
}

/* FORMULARIO */
.heading-form{
font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: 0; 
  text-align: center;
}

.contact form {
  max-width: 60rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 2rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.2rem;
  color: #333;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: .6rem;
  margin: .5rem 0;
}

.contact form .input-box input {
  width: 48%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 1.5rem;
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: .6rem;
  padding: 1.2rem 2rem;
  font-size: 1.4rem;
}

.btn-form {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: .6rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-form:hover {
  background-color: #0056b3
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 768px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(./assets/img/one.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .content-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-top: 10%;
  }
  
  .heading {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 0; 
    text-align: center;
  }
  
  .tagline {
    color: #2196F3;
    display: block;
    font-weight: bold;
    margin-top: 0.5rem;
    font-size: 3rem;
    margin-right: 0; 
    text-align: center;
  }
  
  .description {
    color: black;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin-right: 0;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-left: 1%;
  }
  
  .logo {
    width: 550px;
    height: auto;
  }

  .contact{
    margin: 25px;
  }
  .contact form .input-box input {
    width: 48%;
    margin: 7px;
  }
}

.contact form textarea {
  resize: none;
  margin: 7px;
  width: 98%;
}

.contact form .btn {
  margin-top: 1.5rem;
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: .6rem;
  padding: 1.2rem 2rem;
  font-size: 1.4rem;

}

@media screen and (max-width: 649px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(./assets/img/one.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .content-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-top: 15%;
  }
  
  .heading {
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 0; 
    text-align: center;
  }
  
  .tagline {
    color: #2196F3;
    display: block;
    font-weight: bold;
    margin-top: 0.5rem;
    font-size: 3rem;
    margin-right: 0; 
    text-align: center;
  }
  
  .description {
    color: black;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin-right: 0;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-left: 1%;
  }
  
  .logo {
    width: 550px;
    height: auto;
  }
}

@media screen and (max-width: 596px) {

  .content-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-left:2px;
    margin-top: 15%;
  }
  
  .heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 0; 
    text-align: center;
  }

  .logo {
    width: 520px;
    height: auto;
  }
}

@media screen and (max-width: 425px) {

  .content-container {
    margin-top: 23%;
  }
  
  .heading {
    font-size: 2rem;
  }

  .tagline {
    font-size: 2rem;
  }

  .description {

    font-size: 0.8rem;
  }

  .logo {
    width: 510px;
    
  }
  .contact {
    margin: 25px;
  }
  
  .contact form .input-box input {
    width: 100%; /* Cambiado a 100% para ocupar todo el ancho en dispositivos más pequeños */
    margin: 7px;
  }
  
  .contact form textarea {
    resize: none;
    margin: 7px;
    width: 100%; /* Cambiado a 100% para ocupar todo el ancho en dispositivos más pequeños */
  }
  
  .contact form .btn {
    margin-top: 1.5rem;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: .6rem;
    padding: 1.2rem 2rem;
    font-size: 1.4rem;
  }
}  

@media screen and (max-width: 385px) {

  .content-container {
    margin-top: 23%;
  }
  
  .heading {
    font-size: 1.8rem;
  }

  .tagline {
    font-size: 1.8rem;
  }

  .logo {
    width: 510px;
    
  }
}
