.flex-container {
    display: flex;
    flex-direction: row;
  }
  
  .content-container {
    flex: 1;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 6px;
  }
  
  .heading {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .agency-name {
    white-space: nowrap;
  }
  
  .tagline {
    color: #2196F3;
    display: block;
    margin-top: 0.5rem;
    font-size: 3.5rem;
  }
  
  .description {
    color: #888;
    font-weight: bold ;
    font-size: 1.125rem;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }
  
  .logo {
    width: 100%; 
    height: auto;
    object-fit: cover;
  }
  
    .fixed-button {
      position: fixed;
      bottom: 1rem;
      right: 1rem;
      z-index: 20;
    }
    
    .whatsapp-button {
      background-color: #4CAF50;
      color: #fff;
      border-radius: 50%;
      padding: 0.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .whatsapp-icon {
      width: 2.5rem;
      height: 2.5rem;
    }
  
    /* RESPONSIVE DESIGN */
  
    @media screen and (max-width: 768px) {
    .flex-container {
      flex-direction: column;
      margin-top: 10%;
    }
  
    .tagline {
      font-size: 2.5rem; 
    }
  
    .description {
      font-size: 1rem; 
    }
    .logo {
      width: 70%; 
      height: auto;
      object-fit: cover;
    }
  }
  
  @media screen and (max-width: 425px) {
    .flex-container {
      flex-direction: column;
      margin-top: -10%;
    }
  
    .agency-name{
      font-size: 2rem;
    }
  
    .tagline {
      margin-top: -3%;
      font-size: 2rem; 
    }
  
    .description {
      font-size: 1rem; 
    }
    .logo {
      margin-top: -30%;
      width: 70%; 
      height: auto;
      object-fit: cover;
    }
  }
  
  @media screen and (max-width: 429px) {
    .flex-container {
      flex-direction: column;
      margin-top: -15%;
    }
  
    .agency-name{
      font-size: 2.2rem;
    }
  
    .tagline {
      margin-top: -3%;
      font-size: 2.1rem; 
    }
  
    .description {
      font-size: 1rem; 
    }
    .logo {
      margin-top: -30%;
      width: 70%; 
      height: auto;
      object-fit: cover;
    }
  }
  
  @media screen and (max-width: 379px) {
    .flex-container {
      flex-direction: column;
      margin-top: -18%;
    }
  
    .agency-name{
      font-size: 1.9rem;
    }
  
    .tagline {
      margin-top: -3%;
      font-size: 1.8rem; 
    }
  
    .description {
      font-size: 0.8rem; 
    }
    .logo {
      margin-top: -30%;
      width: 70%; 
      height: auto;
      object-fit: cover;
    }
  }
  
  @media screen and (max-width: 375px) {
    .flex-container {
      flex-direction: column;
      margin-top: -15%;
    }
  
    .agency-name{
      font-size: 1.9rem;
    }
  
    .tagline {
      margin-top: -3%;
      font-size: 1.8rem; 
    }
  
    .description {
      font-size: 0.8rem; 
    }
    .logo {
      margin-top: -30%;
      width: 70%; 
      height: auto;
      object-fit: cover;
    }
  }